html {
    margin: 0;
    padding: 0;
    border:0;
    outline: 0;
}


body,a{
    height: 100%;
    font-size:15px;
    color:#333333;
    font-family:'Open Sans','Hiragino Sans GB','冬青黑体简体中文 W3','Microsoft Yahei UI','Microsoft Yahei',sans-serif;
    margin:0;
    padding: 0;
    text-decoration: none;
}

div,ul{
    display: block;
    padding: 0;
    margin: 0;
}




#container {
    margin: 0;
    padding: 0;
}

#header {
    text-align: center;
    margin: 0 auto;
    padding: 0 auto;
    height: 55px;
    width: 100%;
    z-index: 5;
    background-color: rgba(241,241,241,0.75);
    position: fixed;
}

#wrapper {
    margin: 0 auto;
    padding: 120px auto auto 0;
    z-index: 5;
    width: 700px;
}

#menu {
    display: block;
    /*position: fixed;*/
    text-align: center;
    width: 528px;
    height: 60px;
    margin: 0 auto;
}

#menu ul{
    /*margin: 20px auto;*/
    text-align: center;
}

#menu ul li{
    list-style: none;
    float: left;
    text-indent: 0px;
    padding: 0px;
    margin: 0px;
}

#menu ul li a{
    height: 55px;
    display: block;
    background-image: url('assets/menu.png');
    background-repeat: no-repeat;
    padding: 0;
    margin: 0;
    overflow: hidden;

    transition:all 0.25s;
    -moz-transition:all 0.25s; 
    -webkit-transition:all 0.25s; 
    -o-transition:all 0.25s; 
}

#menu ul li a:hover{
    background-color: #b3d465;

}

.menu-home a{
    width: 137px;
}

.menu-blog a{
    width: 121px;
    background-position: -137px;
}

.menu-proj a{
    width: 175px;
    background-position: -256px;
}

.menu-me a{
    width: 94px;
    background-position: -433px;
}

#h1spacer{
    height: 80px;
    width: 100%;
}

h1 {
    margin: 0 auto;
    display: block;
    width: 450px;
    height: 200px;
    background-repeat: no-repeat;
    background-image: url('assets/title.png');
    text-indent: -999px;
    overflow: hidden;
    margin: 0px auto;
}

h2{
    margin: 20px 0 0 0;
    display: block;
    /*background-color: #b3d465;*/

    /*color: #fff;*/
    padding: 2px 0 2px 0px;
    text-indent: 1em;
    font-style: normal;
}

copyright {
    display: block;
    text-align: center;
}

.entry-container {
    padding: 0;
    margin: 0;
    height: 350px;
}

.entry{
    width: 320px;
    height: 120px;
    margin: 8px;
    padding: 10px 5px 0px 5px;
    float: left;
    border: none;
    /*background-color: #fff;*/
    background-image:url('assets/h3card.png');
    background-repeat: no-repeat;

    transition:all 0.25s;
    -moz-transition:all 0.25s; 
    -webkit-transition:all 0.25s; 
    -o-transition:all 0.25s; 

}

.entry:hover{
    opacity:0.8;
    background-color: #fff;
}

h3{
    padding:0;
    margin:0;
    font-size:20px;
    background-color: #b3d465;
    height: 30px;
    width: 100%;
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space:nowrap; 
}